* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F2F2F2;
    /* min-height: 100vh; */
    height: 800px;
}

.titulo_02 {
    font-family: 'Ibarra Real Nova', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    color: #33323D;
}

.titulo_03 {
    font-family: 'Ibarra Real Nova', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #33323D;

}

.paragrafo {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.botao {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

.sub-botao {
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}